.userprofile-outercontainer {
        display: flex;
        align-items: center;
        padding: 10px 2px;
        justify-content: center;
        height: calc(100vh - 80px);
}

.user-profile {
        background-color: #ffbb08;
        padding: 10px;
        border-radius: 10px;
        width: 350px;

}

.user-profile p {
        font-weight: 30px;
        color: white;
        font-weight: 700;

        border-bottom: 3px solid white;
}

.data-row {
        display: flex;
        flex-direction: row;
        color: white;
}
.data-row span {
        width: 80%;
        padding: 10px;
        border: 2px solid white;
        font-size: 18px;
}