.allproductpages {
      background-color: white;
      height: 100%;
      width: 100%;
      font-weight: 700;
      font-size: 20px;
      position: relative;
      max-width: 1400px;
      overflow-x: hidden;
      margin: 0 auto;
      margin-top: 80px;
      margin-bottom: 250px;

      

}



.heading {

      background-color: rgb(240, 240, 240);
      display: flex;
      height: 20vh;
      width: 100%;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 20px;
      position: relative;
     


}

.product-detail {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
      font-size: 15px;



}

.sort-input {
      background-color: transparent;

}

.option {
      border: none;
}